{% extends "glair/base.html" %}
{% load static from staticfiles %}
{% block css %}
  <link href="{% static "glair/css/dropzone.css" %}" rel="stylesheet">
{% endblock css %}
{% block js %}
    <script src="{% static "glair/js/dropzone.min.js" %}"></script>
    <script>
    $(function() {

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      function send_form(element) {
        var form = $(element).parentsUntil('.basic-edit').parent();
        var api_uri = $(form).parent().attr('data-glair-uri');
        $.ajax({ 
          url: api_uri, 
          data: $(form).serialize(), 
          type: 'PUT'
        }).done(function(data) {
            console.log(data);
        });
      }

      Dropzone.options.djangodropzone = {
        paramName: "image",
        init: function() {
          this.on('sending', function(file, xhr, formData) { 
            formData.append('name', file.name);
          });
          this.on('success', function(file, response) {
            //this.removeFile(file);
            $('#photo-editor').append(response.html);
            console.log(response);
          });
        }
      }

      $('body').on('change', ':input', function(){
        send_form($(this));
      });

      $('#edit-modal').modal({
        show: false
      });
    });
    </script>
{% endblock js %}

{% block content %}
<div class="row">
  <form id="djangodropzone" class="dropzone" action="{% url "glair-upload" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  </form>
</div>
<div> 
<div class="row">
  <div id="photo-editor" class="col-xs-12 col-sm-6 col-md-8"></div>
  <div id="albums" class="col-xs-6 col-md-4">
    <p>This is where the albums go.</p>
  </div>
</div>
<div id="edit-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}