{% extends "glair/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block css %}
  <link href="{% static "glair/css/dropzone.css" %}" rel="stylesheet">
{% endblock css %}
{% block js %}
    <script src="{% static "glair/js/dropzone.min.js" %}"></script>
    <script src="{% static "glair/js/upload.js" %}"></script>
{% endblock js %}

{% block content %}
<div class="row">
  <form id="djangodropzone" class="dropzone" action="{% url "glair-upload" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  </form>
</div>
<div> 
<div class="row">
  <div id="photo-editor" class="col-xs-12 col-sm-6 col-md-8"></div>
  <div id="albums" class="col-xs-6 col-md-4">
    <ul>
    {% for album in albums %}
      <li>{{ album.name }}</li>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="edit-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Details</h4>
      </div>
      <div class="modal-body">
        {% crispy edit_form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="edit-save" type="button" class="btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}